spring:
  application:
    name: NOTIFICATION-SERVICE
  kafka:
    bootstrap-servers: kafka:9092
    properties:
      security.protocol: PLAINTEXT
    consumer:
      group-id: notificationGroup
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: event:com.JSR.notification_service.dto.OrderPlacedEvent
        spring.json.value.default.type: com.JSR.notification_service.dto.OrderPlacedEvent
        spring.json.add.type.headers: true
    template:
      default-topic: notificationTopic
    admin:
      fail-fast: false
  zipkin:
    base-url: http://zipkin:9411
    enabled: true
  sleuth:
    sampler:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

server:
  port: 8087

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: DEBUG
    com.JSR.notification_service: DEBUG
