spring:
  application:
    name: ORDER-SERVICE
  datasource:
    url: jdbc:mysql://mysql-db:3306/orderservice
    username: root
    password: captain@cz
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          time_zone: UTC
  kafka:
    bootstrap-servers: kafka:9092
    properties:
      security.protocol: PLAINTEXT
      session.timeout.ms: 10000
      heartbeat.interval.ms: 3000
      metadata.max.age.ms: 30000
      connections.max.idle.ms: 540000
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.add.type.headers: false
        request.timeout.ms: 30000
        delivery.timeout.ms: 60000
        max.block.ms: 30000
        retries: 3
        reconnect.backoff.ms: 1000
        reconnect.backoff.max.ms: 10000
        socket.connection.setup.timeout.ms: 10000
        socket.connection.setup.timeout.max.ms: 30000
    template:
      default-topic: notificationTopic
    admin:
      fail-fast: false
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        group:
          enabled: true
      client:
        config:
          default:
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: basic
    # REMOVE the old zipkin configuration from here
    # zipkin:
    #   base-url: http://zipkin:9411
    #   enabled: true
    # sleuth:
    #   sampler:
    #     probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

resilience4j:
  circuitbreaker:
    instances:
      inventory-service:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
  timelimiter:
    instances:
      inventory-service:
        timeoutDuration: 5s
  retry:
    instances:
      inventory-service:
        maxAttempts: 3
        waitDuration: 1s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
  ratelimiter:
    instances:
      inventory-service:
        registerHealthIndicator: true
        limitForPeriod: 10
        limitRefreshPeriod: 1s
        timeoutDuration: 0
        allowHealthIndicatorToFail: false
        subscribeForEvents: true
        eventConsumerBufferSize: 50
  bulkhead:
    instances:
      inventory-service:
        maxConcurrentCalls: 20
        maxWaitDuration: 0

management:
  tracing:
    sampling:
      probability: 0.1  # Reduced from 1.0 for development
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans  # Add this line
  endpoints:
    web:
      exposure:
        include: health,metrics,circuitbreakers,ratelimiters,info,tracing
  endpoint:
    health:
      show-details: always
      show-components: always
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true
  health:
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true

server:
  port: 8081

logging:
  level:
    com.JSR.order_service.config.InventoryClient: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.hibernate.orm.jdbc.bind: TRACE
    io.github.resilience4j: DEBUG
    org.springframework.cloud.sleuth: DEBUG
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"