spring:
  application:
    name: PRODUCT-SERVICE
  data:
    mongodb:
      uri: mongodb://mongo-db:27017/ecomDB
  zipkin:
    base-url: http://zipkin:9411
    enabled: true
  sleuth:
    sampler:
      probability: 1.0

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,tracing
  tracing:
    sampling:
      probability: 1.0

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    org.springframework.data.mongodb.core: DEBUG
    org.springframework.cloud.sleuth: DEBUG
