spring:
  application:
    name: PRODUCT-SERVICE
  data:
    mongodb:
      uri: mongodb://mongo-db:27017/ecomDB
  # REMOVE the old zipkin configuration from here
  # zipkin:
  #   base-url: http://zipkin:9411
  #   enabled: true
  # sleuth:
  #   sampler:
  #     probability: 1.0

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/

management:
  tracing:
    sampling:
      probability: 0.1  # Reduced from 1.0 for development
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans  # Add this line
  endpoints:
    web:
      exposure:
        include: health,info,metrics,tracing

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    org.springframework.data.mongodb.core: DEBUG
    org.springframework.cloud.sleuth: DEBUG