spring:
  application:
    name: INVENTORY-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/orderservice
    username: root
    password: captain@cz
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8086

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.tool.hbm2ddl: DEBUG
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.StatementCreatorUtils: TRACE

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/